@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;900&display=swap');

body {
    background: #333;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 10pt;
    vertical-align: middle;
    padding: 20px;
}

#logo {
    display: block;
    margin: 0 auto;
    padding-top: 10vh;
    cursor: pointer;
}

#logo2 {
    padding: 20px;
    position: absolute;
}

#tagline {
    display: block;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    font-weight: 900;
    font-size: 48pt;
}

#page_title {
    display: block;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    font-weight: 900;
    font-size: 48pt;
    margin-bottom: 120px;
}

h1, h2, h3 {
    font-weight: 200;
}

#subtext,
.btn {
    display: block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    font-size: 12pt;
}

.btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 20px;
    border-radius: 50px;
    transition: background 0.2s ease-in;
    cursor: pointer;
    display: inline;
    writing-mode: horizontal-tb; 
    margin-right: 20px;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

p {
    font-size: 12pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
    margin: 0;
    margin-top: 20px;
    margin-bottom: -10px;
}

.content {
    width: 50%;
}

a, a:visited {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

#close {
    position: absolute;
    top: calc(100vh - 60px);
}

@media(min-width:800px) {
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        display: inline;
        margin-top: 60px;
    }
}

@media(max-width:800px) {
    .btn {
        display: block;
        margin-top: 10px;
        margin-right: auto;
        width: auto;
    }

    #tagline {
        font-size: 24pt;
        width: 100%;
    }

    #logo {
        height: 128px;
        padding-top: 20px;
    }

    #logo2 {
        display: block;
        margin: auto;
        position: relative;
        padding-top: 20px;
        cursor: pointer;
    }

    #page_title {
        width: 100%;
        margin: auto;
        font-size: 36pt;
        padding-bottom: 20px;
        text-align: inherit;
    }

    .content {
        width: 100%;
        word-wrap: break-word;
    }

    #subtext {
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }
}